.navContainer{
    justify-content: space-between;
    background-color: rgb(109, 109, 229);
    color: white;
    padding:10px;
    margin: 10px 0;
}
.navLeft{
    width: 50%;
    justify-content: space-between;
}
form input, form button{
    color:black;
    height:90%;
    font-size: 18px;
    letter-spacing: 1.5px;
}
form button{
    border:0;
    padding:2px;
    border-radius: 6px;
    letter-spacing: 1px;
    background-color: blue;
    color:white;

}
.box{
    height:60vh;
    width:100vw;
    margin:4px 0;
}
#textBox{
    height:100%;
    width:95%;
    border:3px solid rgb(109, 109, 229);
    border-radius: 5px;
    word-spacing: 12px;
    font-size:20px;
    padding:20px;
    text-align:left;
    color:black;
    resize: none;
}
.buttons{
    margin:5px 10px;
    height:30px;
    width:100px;
    transition:all 500ms;
    background-color:rgb(109, 109, 229);
    border:0px;
    border-radius:5px;
    cursor: pointer;
}
.buttons:hover{
    height:40px;
    width:120px;
}